#graph-container {
    max-width: 1200px;
    height: 1000px;
    margin: auto;
}

#zoom {
    z-index: 999;
    position: fixed;
    right: 40px;
    top: 25px;
}

#zoom_reset {
    background-image: url(../img/zoom_reset.png);
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
}

.search_nodes {
    cursor: pointer;
}